:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #F4F7F9;
  --text-gray: #4F5873;
  --light-gray: #e3e8ee;
  --light-gray-text: #9FA6BA;
  --transparent-gray: rgba(79, 88, 115, 0.1);
  --green-text: #17BF60;
  --transparent-green: rgba(18, 115, 87, 0.1);
  --negative-text: #F2295F;
  --negative-color-bg: rgba(242, 41, 95, 0.1);
}

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a, span, p {
  font-weight: 400;
  color: #4F5873;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
}

h1 {
  line-height: 1.1;
  color: var(--text-gray);
  font-weight: 600;
}

/* Estilos para telas de tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}



/* Estilos para telas de celular */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p, span, a, button {
    font-size: .8rem;
  }
}

/* Estilos para telas de tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 1.9rem;
  }
}

/* Estilos para telas de computador */
@media (min-width: 1024px) {
  h2 {
    font-size: 2.2rem;
  }
}




button {
  border-radius: 213px;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}

#app {
  width: 100%;
  margin: 0;
}
