:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-weight: 400;
  color: #4F5873;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

/* Estilos para telas de celular */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

/* Estilos para telas de tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 3rem;
  }
}

/* Estilos para telas de computador */
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}



/* Estilos para telas de celular */
@media (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
}

/* Estilos para telas de tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 1.9rem;
  }
}

/* Estilos para telas de computador */
@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
}




button {
  border-radius: 213px;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}

#app {
  width: 100%;
  margin: 0;
}
